html {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
}
*,
*:before,
*:after {
  margin: 0;
}

.l-bottom-small {
  margin-bottom: 8px
}

.l-bottom-medium {
  margin-bottom: 16px
}

.l-bottom-large {
  margin-bottom: 24px;
}

.l-align-center {
  text-align: center;
}
